*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}
:root{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
}
img{
  max-width: 100%;
  display: block;
}
button{
  cursor: pointer;
}
.container{
  /* max-width: 124.6rem ; */
  max-width: 133.0rem;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
header,footer{
  padding: 0 1.6rem;
}